---
import { fetchRecipes } from "../../utils/fetchRecipes";

// Tell Astro which pages to build
export async function getStaticPaths() {
  const posts = await fetchRecipes();
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

// Access the current recipe via `Astro.props`
const { post } = Astro.props;
---


<html>
  <head>
    <title>{post.title.rendered}</title>
  </head>
  <body>
    <h1>{post.title.rendered}</h1>

    {post._embedded?.['wp:featuredmedia']?.[0]?.source_url && (
      <img
        src={post._embedded['wp:featuredmedia'][0].source_url}
        alt={post.title.rendered}
        width="600"
      />
    )}

    <div set:html={post.content.rendered} />
  </body>
</html>
