---
import { fetchRecipes } from "../utils/fetchRecipes.ts";
const posts = await fetchRecipes();
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Recipes</title>
  </head>
  <body>
    <h1>Recipes from WordPress</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={`/recipes/${post.slug}`}>
            <h2 set:html={post.title.rendered} />
            {post.featuredImage && (
              <img
                src={post.featuredImage}
                alt={post.title.rendered}
                width="300"
              />
            )}
          </a>
        </li>
      ))}
    </ul>
  </body>
</html>
